.conteudo-principal{
    background-color: var(--branco);
    box-sizing: content-box;
}
.conteudo-principal__banner-bg{
    width: 100%;
    height: 400px;
    background: url('../../img/ramens/ramen-7187810_1920.jpg') no-repeat center;
}
.conteudo-principal__banner{
    width: 100%;
    height: 400px;
    background: var(--shadow);
}