.escolha-tamanho--pequeno::before,
.escolha-tamanho--medio::before,
.escolha-tamanho--grande::before{
    background-image: url('../../img/ingredientes/ramen-desenho.png');
    box-sizing: border-box;
}
.escolha-tamanho--pequeno::before{
    border: 18px solid #00000000;
}
.escolha-tamanho--medio::before{
    border: 9px solid #00000000;
}
.formulario-principal .campo-escolha .escolha-tamanho--pequeno::before,
.formulario-principal .campo-escolha .escolha-tamanho--medio::before,
.formulario-principal .campo-escolha .escolha-tamanho--grande::before
{
    box-shadow: none;
}