.conteudo-principal{
    flex: 2;
    background-color: var(--branco-escuro);
    min-height: 75vh;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width:768px){
    .conteudo-principal{
        width: 100vw;
        flex: auto;
        min-height: 0;
    }
}