.container-caixa-item{
    border: 1px solid black;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}
.container-caixa-item__imagem{
    max-width: 30%;
    max-height: 90%;
    align-self: center;
}
.container-caixa-item__titulo{
    display: none;
}
.caixa-item__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 68%;
    box-sizing: border-box;
    padding: 0px 20px;
    align-content: center;
    align-items: flex-start;
}
.container-caixa-item__lista{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 15px;
    user-select: none; 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}
.container-caixa-item__lista__item{
    background-color: var(--cinza-transparente);
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    z-index: 99;
}


.container-caixa-item__caixa-quantidade{
    margin-top: 10px;
}

@media screen and (max-width:1024px) {
    .container-caixa-item__imagem{
        max-width: 40%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .container-caixa-item{
        display: flex;
        flex-wrap: wrap;
        max-height: none;
        align-items: flex-start;
        align-content: flex-start;
    }
    .caixa-item__info{
        max-width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: space-between;
    }
    .container-caixa-item__descricao{
        display: block;
    }
    .container-caixa-item__titulo{
        display: block;
        font-size: 2.25rem;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px){
    .container-caixa-item__imagem{
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .container-caixa-item{
        display: flex;
        flex-wrap: wrap;
        max-height: none;
        align-items: flex-start;
        align-content: flex-start;
    }
    .caixa-item__info{
        max-width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: space-between;
    }
    .container-caixa-item__lista{
        display: none;
    }
    .container-caixa-item__descricao{
        display: block;
    }
    .container-caixa-item__titulo{
        display: block;
        font-size: 2.25rem;
        margin: 0 auto;
    }
}