.flip-container{
    border: 1px solid #f1f1f1;
    display: block;
}
.flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: all 1s ease;
    perspective: 500;
    transition-delay: .5s;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    transition-delay: .5s;
}
.front{
    background-color: var(--branco);
}
.back{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .flipper{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-container:hover .flipper .front{
    transform: rotateY(90deg);
}