@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
@font-face {
    font-family: 'revoka';
    src: url('../fonts/revoka/REVOKA-PERSONALUSE.otf');
}
@font-face {
    font-family: 'assassinNinja';
    src: url('../fonts/aassassinninja/aAssassinNinja.otf');
}
@font-face {
    font-family: 'food';
    src: url('../fonts/asian_food/Asian\ Food.ttf');
}

:root{
    --amarelo: #c29311;
    --branco: #eee;
    --branco-translucido: #ffffffe6;
    --branco-transparente: #ffffff77;
    --branco-escuro: #dbdbdb;
    --botao-base: #d30000;
    --botao-ativo: #a50000;
    --botao-hover: #000;
    --cinza-transparente: #7e7e7e40;
    --preto: #000;
    --preto-transparente: #000000af;
    --preto-bg: #000000bb;
    --shadow: #242424a4;
    --vermelho-bg: #a31e1ec5;
    --cabecalho-e-footer: #000;
    --checked: #00bb00;


    --fonte-padrao: 'Blaka', 'Times New Roman', Times, serif;
    --fonte-secundaria: 'assassinNinja', 'Blaka','Times New Roman', Times, serif;
    --fonte-fantasia: 'revoka','assassinNinja', 'Blaka','Times New Roman', Times, serif;
    --fonte-desenhos: 'food';

    --linear-preto-Mbranco: linear-gradient(90deg, #7e7e7e40, #ffffffe6 70%);



    --imagem-noodles-set-1: url("../img/noodles/macarrao-instantaneo-sabor-galinha.png")no-repeat, var(--amarelo);
    --imagem-noodles-set-2: url('../img/noodles/calabresa.png')no-repeat, var(--vermelho-bg);
}


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,body{
    height: 100%;
    width: 100%;
}

.preco-destaque{
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 500;
    text-align: center;
    animation: aumenta-diminui 1.4s infinite alternate;
}

.aumenta_e_shadow{
    transform: scale(1.5);
    transition-delay: .4s;
    transition: all .5s;
    box-shadow: 0px 0px 2px 2px black;
}

.texto-invisivel{
    position: absolute;
    top: -500px;
    width: 1;
    height: 1;
    color: #00000000;
}

.container_invisivel{
    display: none;
    opacity: 0;
}
.visificador{
    display: block !important;
    opacity: 1 !important;
}

.botao-ativado{
    opacity: 1;
    transition: all .5s ease;
}

.botao-ativado:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 4px #fff;
}

.botao-desativado{
    opacity: 0.5;
}

.delete-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

.delete-icon:hover{
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes aumenta-diminui{
    0%{
        /*transform: scaleY(0.9) scaleX(1);*/
        transform: rotate(-5deg);
    }
    40%, 60%{
        transform: rotate(0deg) scale(1.1);
    }
    100%{
        /*transform: scaleY(1.05) scaleX(1.05);*/
        transform: rotate(5deg);
    }
}

