.pedido-container{
    height: 200px;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    position: relative;
}

.imagem-pedido{
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}
.imagem-pedido img {
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.infos-pedido{
    padding: 20px;
}

.itens-pedido, .item-pedido {
    list-style: disc !important;
}

.item-pedido{
    padding-left: 5px;
}
.item-pedido::before{
    content: "• ";
}